# deepcell packages
deepcell-cpu~=0.11.0
deepcell-toolbox~=0.10.2
deepcell-tracking~=0.5.2
tensorflow-cpu
scikit-image>=0.14.5,<0.17.0
numpy>=1.16.6

# tensorflow-serving-apis and gRPC dependencies
grpcio>=1.0,<2
dict-to-protobuf==0.0.3.9
protobuf>=3.6.0

# misc storage and redis clients
boto3>=1.9.195,<2
google-cloud-storage>=1.16.1,<2
python-decouple>=3.1,<4
redis==3.4.1
pytz==2019.1
