boto3==1.9.195
google-cloud-storage>=1.16.1
python-decouple==3.1
redis==3.4.1
scikit-image>=0.14.0
keras-preprocessing==1.1.0
grpcio==1.27.2
dict-to-protobuf==0.0.3.9
pytz==2019.1
keras_retinanet==0.5.1
deepcell-tracking==0.2.5
deepcell-toolbox==0.2.0
